.header {
  // overflow: hidden;
  height: 9rem;
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  height: 9rem;
  transition: all 0.3s;

  &__logo {
    font-size: 2.4rem;
    color: $color-primary-light;

    margin-left: 2.4rem;
    text-decoration: none;
    display: inline-block;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-secondary-dark
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    @media only screen and (max-width: $large) {
      font-size: 2.8rem;
    }
    &--head {
      animation: scaleInTop 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  &__list {
    list-style: none;

    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    margin-right: 4rem;

    @media only screen and (max-width: $large) {
      background-color: rgba($color-primary-dark, 0.9);
      position: absolute;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 11111;

      transform: translateX(100%);
      transition: all 0.6s ease-in;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__item {
    margin: 1rem;
    animation: swingInTopFwd 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

    @media only screen and (max-width: $large) {
      animation: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1.2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 400;
      color: inherit;

      transition: all 0.2s;

      @media only screen and (max-width: $large) {
        animation: none;
        font-size: 2rem;
      }
    }

    &--active {
      &:link,
      &:visited {
        color: $color-primary-light;
        transform: translateY(-0.4rem);
      }
    }
  }

  &__link {
    &:hover {
      transform: translateY(-0.4rem);
      color: $color-primary-light;
      @media only screen and (max-width: $large) {
        color: $color-grey-light;
      }
    }
    &:active {
      transform: translateY(0);
      color: $color-primary;
      @media only screen and (max-width: $large) {
        color: $color-grey-light-1;
      }
    }
  }

  &__btn {
    margin-left: auto;
    font-size: inherit;
    border: none;
    display: inline-block;

    box-shadow: 0 0.4rem 2rem 1.2rem rgba(34, 184, 207, 0.12);

    background-color: $color-primary-dark;

    border-radius: 7px;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
    animation: rollInBlurredRight 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;

    @media only screen and (max-width: $large) {
      margin-left: 0;
      animation: none;
      background-color: $color-grey-dark;
    }

    &:hover {
      background-color: $color-primary;

      box-shadow: 0 3px 2rem 0.6rem rgba(34, 184, 207, 0.3);
      transform: translateY(-0.5rem);
    }
    &:active {
      background-color: $color-primary-dark;
      box-shadow: 0 0.2rem 2rem 1rem rgba(34, 184, 207, 0.12);
      transform: translateY(0);
    }
  }
}

.sticky--show {
  position: fixed;
  background-color: #fff;
  top: 0;
  height: 9rem;
  z-index: 100000;
  background-color: rgba($color-grey-darkest, 0.7);
}

.mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  &__icon {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    color: $color-white;
    background-color: $color-primary-dark;
    padding: 1.8rem 2.1rem;
    border-radius: 50%;
    animation: rollInRight 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
    z-index: 1111111;
  }
  &__icon[name="close-outline"] {
    display: none;
  }

  @media only screen and (max-width: $large) {
    display: inline-block;
  }
}

// make nav visible
.nav-open .nav__list {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.nav-open .mobile-nav__icon[name="close-outline"] {
  display: inline-block;
  animation: none;
  transition: all 0.3s;

  &:active {
    transform: rotate(70deg);
  }
}
.nav-open .mobile-nav__icon[name="menu-outline"] {
  display: none;
}
