.about {
  border-top: 1px solid rgba($color-grey-light, 0.7);
  padding: 6.2rem 0;
  margin-bottom: 2.8rem;

  &__description {
    font-size: 3rem;
    // text-align: center;
    position: relative;
    font-family: $font-primary;

    line-height: 1.45;
    margin-bottom: 4.5rem;
    @media only screen and (max-width: $smaller) {
      font-size: 2.7rem;
    }
  }
}
