.pad-lr-small {
  padding: 0 1rem !important;
}
.pad-tb-small {
  padding: 1.2rem 0 !important;
}
.pad-b-small {
  padding-bottom: 0.3rem !important;
}
.pad-b-mid {
  padding-bottom: 1rem !important;
}
.pad-b-large {
  padding-bottom: 2.4rem !important;
}
.mar-b-small {
  margin: 1.2rem 0 !important;
}
